/* font styles */
.fira-sans-normal {
  font-family: "Fira Sans", serif;
}

/* navbar styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: "Fira Sans", serif;
  font-size: 32px;
  color: #0e0e0e;
  margin-left: 300px;
}

.sign-in {
  font-family: "Fira Sans", serif;
  font-size: 18px;
  padding: 15px 30px;
  border-radius: 8px;
  color: #006a50;
  border: 1px solid #006a50;
  font-weight: 600;
  margin-right: 330px;
}

.sign-in:hover {
  background-color: white;
}
/* banner styles */

.banner-container {
  background-color: #c6e4d6;
  height: 560px;
  width: 1280px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px 300px;
  border-radius: 24px;
}

.banner-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 24px;
  color: rgba(14, 14, 14, 50%);
  padding-left: 59.9px;
}

.banner-description {
  font-family: "Fira Sans", sans-serif;
  font-size: 56px;
  font-weight: bold;
  color: #0e0e0e;
  padding-left: 59.9px;
  padding-right: 39.9px;
  margin-top: -10px;
  background-color: #c6e4d6;
}

.banner-img {
  padding-right: 59.9px;
}

.btn-explore {
  font-family: "Fira Sans", sans-serif;
  padding: 17px 34px;
  margin-left: 59.9px;
  margin-top: -20px;
  color: white;
  font-size: 18px;
  font-weight: 600px;
  background-color: #006a50;
  border-radius: 8px;
  border-style: none;
}
.btn-explore:hover {
  background-color: white;
  color: #0e0e0e;
}

/* pillar style */
.pillar-section {
  margin-left: 300px;
  margin-top: 80px;
  margin-right: 300px;
}

.pillar-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.pillar-contents {
  display: flex;
  gap: 24px;
  margin-top: 42px;
}

.pillar-content {
  background-color: #f1f1f3;
  border-radius: 16px;
  padding: 24px 24px;
}
.pillar-content:hover {
  background-color: #c6e4d6;
}

.pillar-content-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #0e0e0e;
}

.pillar-content-description {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
  margin-top: -10px;
}

/* vision style */

.vision-section {
  margin-left: 300px;
  margin-top: 80px;
  margin-right: 300px;
}
.vision-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
}
.vision-description {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
}

.vision-contents {
  display: flex;
  gap: 24px;
  margin-top: 42px;
}

.vision-content-1 {
  background-color: rgba(84, 144, 245, 20%);
  border-radius: 16px;
  padding: 32px;
}
.vision-content-1:hover {
  background-color: #f1f1f3;
}

.vision-content-2 {
  background-color: #c6e4d6;
  border-radius: 16px;
  padding: 32px;
}

.vision-content-2:hover {
  background-color: #f1f1f3;
}

.vision-content-3 {
  background-color: #f7ebcf;
  border-radius: 16px;
  padding: 32px;
}
.vision-content-3:hover {
  background-color: #f1f1f3;
}
.vision-content-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.vision-content-description {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
  margin-top: -5px;
}

.LM-btn-1 {
  padding: 11px 20px;
  background-color: #5490f5;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border-style: none;
  margin-top: 24px;
}
.LM-btn-1:hover {
  background-color: white;
  color: #0e0e0e;
}

.LM-btn-2 {
  padding: 11px 20px;
  background-color: #09a15c;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border-style: none;
  margin-top: 24px;
}
.LM-btn-2:hover {
  background-color: white;
  color: #0e0e0e;
}
.LM-btn-3 {
  padding: 11px 20px;
  background-color: #ffc239;
  color: white;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  border-radius: 8px;
  border-style: none;
  margin-top: 24px;
}
.LM-btn-3:hover {
  background-color: white;
  color: #0e0e0e;
}
/* quote-section style */

.quote-section {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 80px;
}

.quote-contents {
  background-color: #c6e4d6;
  padding: 30px 24px;
  border-radius: 16px;
  background-image: url(../assets/quote-bg.png);
  background-repeat: no-repeat;
  background-position: 15px 15px;
}

.quote-description {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(14, 14, 14, 80%);
}

.quote-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  font-weight: 600;
  color: rgba(14, 14, 14, 80%);
  margin-top: 40px;
}

.quote-sub-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(14, 14, 14, 80%);
  margin-top: -10px;
}

/* recent news section style */

.recent-header {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 80px;
}
.recent-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.recent-description {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
}

.recent-news {
  margin-left: 300px;
  margin-right: 300px;
}
.news-content {
  display: flex;
  gap: 32px;
  padding: 48px;
  background-color: #f1f1f3;
  border-radius: 24px;
}

.news-times {
  display: flex;
  gap: 10px;
}
.news-img {
  border-radius: 24px;
}
.news-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 32px;
  font-weight: bold;
  margin-top: 12px;
}
.news-icon {
  margin-top: -18px;
}
.news-date {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
}

.news-time {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
}
.news-description {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
  margin-top: 12px;
}

.news-btn-1 {
  padding: 13px 26px;
  color: white;
  background-color: #006a50;
  border-radius: 8px;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  border-style: none;
  margin-top: 32px;
}
.news-btn-1:hover {
  background-color: white;
  color: #0e0e0e;
}

.news-contents-2 {
  margin-top: 24px;
}

/* donate section styles */
.donate-section {
  margin-left: 300px;
  margin-right: 300px;
  margin-top: 80px;
}
.donate-header {
  text-align: center;
}

.donate-title {
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.donate-description {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
}

.donate-amounts {
  text-align: center;
}

.donate-btn {
  padding: 40px;
  border-style: none;
  border-radius: 16px;
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
  margin-left: 24px;
  margin-top: 32px;
}

.donate-btn-color {
  background-color: #c6e4d6;
}
.donate-btn:hover {
  background-color: #c6e4d6;
}

input[type="text"] {
  height: 44px;
  width: 1010px;
  text-align: center;
  margin-top: 32px;
  margin-left: 150px;
  padding: 20px 0px;
  font-family: "Fira Sans", sans-serif;
  font-size: 20px;
  border-style: none;
  background-color: #f1f1f3;
  color: rgba(14, 14, 14, 30%);
  border-bottom: 1px solid rgba(14, 14, 14, 30%);
}

.done-btn-submit {
  text-align: center;
  margin-top: 32px;
}

.done-btn {
  padding: 17px 34px;
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background-color: #006a50;
  border-style: none;
  border-radius: 8px;
}
.done-btn:hover {
  background-color: #c6e4d6;
  color: #0e0e0e;
}

/* footer style */

.sub-section {
  background-color: #c6e4d6;
  text-align: center;
  padding: 80px 265px;
  margin-top: 80px;
  margin-left: 300px;
  margin-right: 300px;
  border-radius: 24px;
}
.sub-heading {
  font-family: "Fira Sans", sans-serif;
  font-size: 40px;
  font-weight: bold;
}

.sub-description {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
  margin-bottom: 20px;
}

input[type="email"] {
  height: 55px;
  width: 550px;
  padding-left: 40px;
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  border-top-left-radius: 8px;
  border-bottom-left-radius: 8px;
  border-style: none;
  margin-top: 20px;
}

.btn-subscribe {
  font-family: "Fira Sans", sans-serif;
  font-size: 18px;
  padding: 17px 34px;
  color: white;
  background-color: #006a50;
  margin-left: -5px;
  border-style: none;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.btn-subscribe:hover {
  background-color: #c6e4d6;
  color: #0e0e0e;
}
.subscribe-descripton {
  font-family: "Fira Sans", sans-serif;
  font-size: 16px;
  color: rgba(14, 14, 14, 70%);
  margin-top: 20px;
}
